<table class="table table-hover">
  <thead>
    <th width='15%'>Domain</th>
    <th width='5%'>Control</th>
    <th width='40%'>Requirement</th>
    <th width='15%'>{{htHeadings.response}}</th>
    <th width='25%'>{{htHeadings.scope}}</th>
  </thead>
  <tbody>
    <tr ng-repeat='req in htRequirements | orderBy:["Domain", "Control"] | filter:htFilter'>
      <td width='15%'>{{req.Domain}}</td>
      <td width='5%'>{{req.Control}}</td>
      <td width='40%'>{{req.Requirement}}</td>
      <td width='15%'>
        <select name='Documented' class="form-control" ng-model='responses[req.fID]' ng-change='setResponse(req.fID)'>
          <option value>-Select-</option>
          <option value='0'>No</option>
          <option value='1'>Yes</option>
        </select>
      </td>
      <td width='25%'>
        <select name='Scope' class="form-control" ng-model='scopes[req.fID]' ng-change='setScope(req.fID)'>
          <option value>-Select-</option>
          <option ng-repeat='opt in htScopeOptions track by $index' value='{{$index}}'>{{opt}}</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<div class="alert alert-warning" ng-show='(htRequirements|filter:htFilter).length === 0'>
  There are no search results. Please try again.
</div>