<div class='row'>
  <div class='col-xs-12'>
    <ul class="nav nav-tabs">
      <li  ng-class='{active: nav.active}' ng-repeat='nav in navs track by $index'>
        <a ui-sref='{{nav.sref}}'>{{nav.label}}</a>
      </li>
    </ul>
  </div>
</div>
<div class='row toolbar'>
  <div class='col-xs-1'>
    <div class="form-group">
      <input ng-change='toolbar.selected()' ng-model='toolbar.select' type='checkbox' />
    </div>
  </div>
	<div class='col-xs-3 col-xs-offset-8'>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" ng-model='toolbar.search'>
    </div>
	</div>
</div>
<div ui-view></div>