<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style='min-width: 95px;'>
    {{selectedLabel || '-Select-'}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat='opt in options track by $index'>
      <span class='select-option' ng-click='select(opt)'>
      	<span ht-checkbox ht-checkbox-id='multi-select-{{$index}}' ht-checkbox-model='selectedValues[opt[value]]'></span>
      	{{opt[label]}}
      </span>
    </li>
  </ul>
</div>