<div class='row toolbar'>

  <div class='col-xs-1'>
    <div class="form-group">
      <div class="btn-group">
        <span id='toolbar-select-container' class="btn btn-default">
          <span ht-checkbox ht-checkbox-id='toolbar-select' ht-checkbox-change='selected(value)' ht-checkbox-model='select' ht-checkbox-partial='selectPartial'></span>
        </span>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><span class='select-option' ng-click='starred(true)'>Starred</span></li>
          <li><span class='select-option' ng-click='starred(false)'>Unstarred</span></li>
          <li class="divider"></li>
          <li><span class='text-danger select-option' ng-click='clearAnswer()'>Clear answers</span></li>
        </ul>
      </div>
    </div>
  </div>

  <div class='col-xs-4'>
    <form class="form-inline" role="form" ng-show='select'>
      <div class='form-group'>
        <span ht-select-factory ht-select-options='responseOptions' ht-select-option-label-prop='attDesc' ht-select-option-value-prop='attId' ht-selected='answers.response' ht-on-select='setAnswers(value, option)'></span>
      </div>
      <div class='form-group'>
        <span ht-select-factory ht-select-options='scopeOptions' ht-select-option-label-prop='attDesc' ht-select-option-value-prop='attId' ht-selected='answers.scope' ht-on-select='setAnswers(value, option)'></span>
      </div>
    </form>
  </div>

  <div class='col-xs-3 col-xs-offset-4'>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" ng-model='search'>
    </div>
  </div>

</div>